@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Degular', sans-serif;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Black.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Bold.otf') format('opentype');
  font-weight: 800; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}



:root  {
  --background: 116 100% 95%;
  --foreground: 116 5% 0%;
  --card: 116 50% 90%;
  --card-foreground: 116 5% 10%;
  --popover: 116 100% 95%;
  --popover-foreground: 116 100% 0%;
  --primary: 116 100% 78%;
  --primary-foreground: 0 0% 0%;
  --secondary: 116 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 78 30% 85%;
  --muted-foreground: 116 5% 35%;
  --accent: 78 30% 80%;
  --accent-foreground: 116 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 116 5% 90%;
  --border: 116 30% 50%;
  --input: 116 30% 18%;
  --ring: 116 100% 78%;
  --radius: 1rem;
}
.dark  {
  --background: 116 50% 5%;
  --foreground: 116 5% 90%;
  --card: 116 50% 0%;
  --card-foreground: 116 5% 90%;
  --popover: 116 50% 5%;
  --popover-foreground: 116 5% 90%;
  --primary: 116 100% 78%;
  --primary-foreground: 0 0% 0%;
  --secondary: 116 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 78 30% 15%;
  --muted-foreground: 116 5% 60%;
  --accent: 78 30% 15%;
  --accent-foreground: 116 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 116 5% 90%;
  --border: 116 30% 18%;
  --input: 116 30% 18%;
  --ring: 116 100% 78%;
  --radius: 1rem;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
